*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    font-family: serif, sans-serif, Verdana, Tahoma;
}
html,body{
    /* color-variables */
    --bg-color:#7b7c7d6d;
}
a{
    color: inherit;
    text-decoration: inherit;
    outline: none;
    cursor: pointer;
}
.txt-space{
    letter-spacing: 2px;
}
.pad-1{
    padding: 1rem;
}
.pad-rht{
    padding-right: 1rem;
}
.pad-lft{
    padding-left: 1rem;
}
.mr-1{
    margin: 1rem;
}
.w-full{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
.w-half{
    width: 50%;
}
.box-shadow{
    box-shadow: 0 0 3px 2px var(--secondary);
}
.border-btm{
    border-bottom: 1px solid;
}
.d-column{
    display: flex;
    flex-direction: column;
}
.d-column-centre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uppercase{
    text-transform: uppercase;
}
.bolder{
    font-weight: bolder;
}
ul li{
    list-style-type: none;
}
.f-column{
    display: flex;
    flex-direction: column;
}
.f-start{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.dc-cenre{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quiz-container{
    background-color:var(--bg-color);
}
.quiz-navbar-container{
    flex-wrap: wrap;
    font-size: 1rem;
}